name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [ '1.24', '1.25.x' ]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Display Go version
      run: go version
    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        only-new-issues: true
        version: v2.4
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
